@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-600: #e35214; 
}

body {
  background: var(--background);
  font-family: Roboto, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-600) transparent;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-600);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-600);
}
